* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body {
    color: #fff;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    
    height: 100%;
}

button {
    cursor: pointer;
    outline: none;
}

iframe {
    background-color: transparent;
    border: 0px;
    overflow: hidden;
}

.resting {
    background-color: #08B1CF !important;
}

.hidden {
    display: none;
}

.clearfix:after {
    content: "";
    font-size: 0px;
    visibility: hidden;
    
    clear: both;
    display: block;
    height: 0px;
    width: 100%;
}

/**
 * Container
 */

#pomidorka {
    background-color: #ED4455;
    overflow: hidden;
    
    position: relative;
    top: 0px;
    left: 0px;
    
    height: 100%;
    /* Fuck small screens! */
    min-height: 640px;
    min-width:  640px;
}

.pa-skip {
    background-color: transparent;
    border: 0px;
    color: #fff;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    
    position: absolute;
    top: 30px;
    left: 50%;
    
    margin-left: -90px;
    padding-bottom: 1px;
    width: 180px;
}

.pa-skip span {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.6);
    cursor: pointer;
    
    display: inline-block;
    padding-bottom: 2px;
}

.pa-skip span:hover {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.9);
}

.pa-title, 
.pa-settings-button {
    position: absolute;
    top: 10px;
    
    font-size: 18px;
    font-weight: bold;
    padding: 0.8em 2em .85em;
}

.pa-title {
    left: 38px;
    z-index: 9003;
    
    padding-left: 0px;
    padding-right: 0px;
}

.pa-settings-button {
    background-color: rgba(255,255,255,.3);
    border: 0px;
    border-radius: 5px;
    color: #fff;
    line-height: 110%;
    
    right: 38px;
    z-index: 9000;
}

.pa-goals,
.pa-about-button {
    color: #fff;
    font-size: 14px;
    line-height: 100%;
    
    position: absolute;
    bottom: 30px;
    
    padding-bottom: 1px;
}

.pa-goals {
    left: 38px;
}

.pa-goals .pa-current {
    font-size: 2em;
    
    margin-right: .1em;
}

.pa-goals .pa-status {
    font-style: italic;
}

.pa-about-button {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid rgba(255, 255, 255 ,0.2);
    
    right: 38px;
    z-index: 9002;
}

.pa-about-button:hover {
    border-bottom: 1px solid rgba(255, 255, 255 ,0.6);
}

/**
 * Timer itself
 */

.pa-timer {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    
    height: 60%;
    width: 100%;
    text-align: center;
}

.pa-timer-time {
    font-family: 'Lato', 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    font-size: 0px;
    font-weight: 200;
}

.pa-timer-time span {
    font-size: 96px;
}

.pa-timer-time .pa-colon {
    position: relative;
    top: -10px;
}

.pa-timer-scale {
    margin-top: 3.5em;
    margin-left: calc(50% - 9px);
}

.pa-timer-wrapper {
    width: 3300px;
}

.pa-timer-control {
    background-color: #EB6169;
    border-radius: 100%;
    cursor: pointer;
    font-size: 4em;
    line-height: 160px;
    text-align: center;
    
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    
    height: 140px;
    margin: 0px auto;
    width: 140px;
}

.pa-timer-control span {
    background-image: url('../img/play-pause.png');
    background-repeat: no-repeat;
    
    display: inline-block;
    margin: 0px auto;
    height: 64px;
    width: 64px;
}

.pa-timer-control .pa-play {
    background-position: 0px 0px;
}

.pa-timer-control .pa-pause {
    background-position: -64px 0px;
}

.pa-timer-control.pa-play {
    padding-left: 10px;
}

/**
 * Rest color support
 */

.resting .pa-settings {
    background-color: #15B5D1;
}

.resting .pa-timer-control {
    background-color: #68C4DB;
}

/**
 * Overlay about us
 */

@-webkit-keyframes show-about {
    from { -webkit-transform: translateY(100%); }
    to   { -webkit-transform: translateY(0%); }
}

@-webkit-keyframes hide-about {
    from { -webkit-transform: translateY(0%); }
    to   { -webkit-transform: translateY(100%); }
}

@keyframes show-about {
    from { transform: translateY(100%); }
    to   { transform: translateY(0%); }
}

@keyframes hide-about {
    from { transform: translateY(0%); }
    to   { transform: translateY(100%); }
}

.pa-about {
    background-color: #4ABC84;
    overflow: hidden;
    
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 9001;
    
    padding: 10px 38px;
    padding-top: 5em;
}

.pa-about p {
    font-size: 13px;
    line-height: 1.375em;
}

.pa-about a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    text-decoration: none;
}

.pa-about a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.pa-about .pa-support {
    font-size: 15px;
    font-weight: bold;
}

.pa-about .pa-close {
    background-color: transparent;
    border: 0px;
    color: #fff;
    font-size: 18px;
    
    position: absolute;
    top: 10px;
    right: 38px;
    
    padding: 0.8em 0px;
}

.pa-about .pa-subtitle {
    font-size: 14px; 
    line-height: 1.25em; 
    
    margin-bottom: 1.2em;
}

.pa-about .pa-credits {
    font-size: 13px;
    
    margin-bottom: 1.2em;
}

.pa-about .pa-donate {
    position: absolute;
    bottom: 30px;
    left: 38px;
}

.pa-about .pa-we-need {
    font-size: 13px;
}

.pa-about .pa-donate iframe {
    position: relative;
    left: -8px;
    
    margin-top: 0.5em;
}

.pa-about.hidden {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    
    display: block;
}

.pa-about-appear {
    animation: show-about 0.4s;
    -webkit-animation: show-about 0.4s;
}

.pa-about-disappear {
    animation: hide-about 0.4s;
    -webkit-animation: hide-about 0.4s;
}

/**
 * Settings
 */

.pa-settings {
    background-color: #EE4E5E;
    box-shadow: 0 0 16px -1px rgba(0, 0, 0, 0.1);
    
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    
    width: 32%;
    min-width: 380px;
    z-index: 8999;
    padding-top: 6em;
}

.pa-settings .minus,
.pa-settings .plus {
    font-size: 20px;
    font-weight: bold;
    
    display: inline-block;
    cursor: pointer;
}

.pa-settings ul {
    border-top: 1px solid rgba(255,255,255,.2);
    list-style: none;
    
    padding: 2.5em 40px 0px;
}

.pa-settings ul li {
    line-height: 34px;
    
    margin-bottom: 1em;
}

.pa-settings .pa-control,
.pa-settings .pa-bool {
    line-height: 150%;
    
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    
    float: right;
}

.pa-settings .pa-bool {
    line-height: 120%;
    
    padding-top: 0.5em;
}

.pa-bool.pa-bool-on .pa-switch-on,
.pa-bool.pa-bool-off .pa-switch-off {
    font-weight: bold;
}

.pa-bool.pa-bool-off .pa-switch-on,
.pa-bool.pa-bool-on .pa-switch-off {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.9);
}

.pa-settings .pa-switch-on,
.pa-settings .pa-switch-off {
    cursor: pointer;
    
    display: inline-block;
}

.pa-settings .pa-switch-on {
    margin-right: 12px;
}

.pa-settings .pa-switch-off {
    margin-right: 26px;
}

.pa-settings .pa-cell {
    border: 1px solid rgba(255,255,255,.6);
    border-radius: 4px;
    text-align: right;
    
    display: inline-block;
    padding: 0.25em 0.5em;
    margin: 0px 0.5em;
    width: 80px;
}

.pa-settings .pa-control input {
    background-color: transparent;
    border: 0px;
    color: #fff;
    font-size: 14px;
    outline: none;
    text-align: right;
    
    width: 28px;
}

.pa-settings .pa-full-control .pa-cell {
    width: 66px;
}

.pa-settings .pa-full-control input {
    width: 100%;
}

.pa-settings .separator {
    margin-top: 3em;
}

@-webkit-keyframes show-settings {
    from { -webkit-transform: translateX(100%); }
    to   { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes hide-settings {
    from { -webkit-transform: translateX(0%); }
    to   { -webkit-transform: translateX(100%); }
}

@keyframes show-settings {
    from { transform: translateX(100%); }
    to   { transform: translateX(0%); }
}

@keyframes hide-settings {
    from { transform: translateX(0%); }
    to   { transform: translateX(100%); }
}

.pa-settings.hidden {
    display: block;
    
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.pa-settings-appear {
    animation: show-settings 0.4s;
    -webkit-animation: show-settings 0.4s;
}

.pa-settings-disappear {
    animation: hide-settings 0.4s;
    -webkit-animation: hide-settings 0.4s;
}

.likely-light .likely__widget {
    background-color: transparent;
    height: 25px;
    padding: 1px 3px;
    box-shadow: 0 0 0 1px rgba(255,255,255,.15);
    text-shadow: none;
}

.likely-light .likely__widget:hover {
    box-shadow: none;
}

#paypal {
    margin-top: 0.5em;
    margin-left: -6px;
}

@media (max-height: 768px) {
    .pa-timer {
        top: 48%;
        
        height: 69%;
    }
    
    .pa-timer-scale {
        margin-top: 2.5em;
    }
}