* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body {
    color: #fff;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    
    height: 100%;
}

button {
    cursor: pointer;
}

.resting {
    background-color: #08B1CF !important;
}

.hidden {
    display: none;
}

.clearfix:after {
    content: "";
    font-size: 0px;
    visibility: hidden;
    
    clear: both;
    display: block;
    height: 0px;
    width: 100%;
}

/**
 * Container
 */

#pomidorka {
    background-color: #ED4455;
    overflow: hidden;
    
    position: relative;
    top: 0px;
    left: 0px;
    
    height: 100%;
    /* Fuck small screens! */
    min-height: 768px;
    min-width:  1024px;
}

.pa-recess {
    background-color: transparent;
    border: 0px;
    color: #fff;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    
    position: absolute;
    top: 30px;
    left: 50%;
    
    margin-left: -90px;
    padding-bottom: 1px;
    width: 180px;
}

.pa-recess span {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.6);
    cursor: pointer;
    
    display: inline-block;
    padding-bottom: 2px;
}

.pa-recess span:hover {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.9);
}

.pa-title, 
.pa-settings-button {
    position: absolute;
    top: 10px;
    
    font-size: 18px;
    font-weight: bold;
    padding: 0.8em 2em;
}

.pa-title {
    left: 30px;
    z-index: 9003;
    
    padding-left: 0px;
    padding-right: 0px;
}

.pa-settings-button {
    background-color: rgba(255,255,255,.3);
    border: 0px;
    border-radius: 5px;
    color: #fff;
    line-height: 130%;
    
    right: 30px;
    z-index: 9000;
}

#goals,
#about {
    color: #fff;
    font-size: 14px;
    line-height: 100%;
    
    position: absolute;
    bottom: 30px;
    
    padding-bottom: 1px;
}

#goals {
    left: 30px;
}

#goals .current {
    font-size: 2em;
}

#goals .status {
    font-style: italic;
}

#about {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid rgba(255, 255, 255 ,0.2);
    
    right: 30px;
    z-index: 9002;
}

#about:hover {
    border-bottom: 1px solid rgba(255, 255, 255 ,0.6);
}

/**
 * Timer itself
 */

#timer {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    
    height: 60%;
    width: 100%;
    text-align: center;
}

#timer-time {
    font-family: 'Lato', 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    font-size: 6em;
    font-weight: 200;
}

#timer-time .colon {
    position: relative;
    top: -10px;
}

#timer-scale {
    margin-top: 3.5em;
    margin-left: calc(50% - 11px);
}

.timer-wrapper {
    width: 3300px;
}

#timer-control {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    background-color: #EB6169;
    border-radius: 100%;
    cursor: pointer;
    font-size: 4em;
    line-height: 160px;
    text-align: center;
    
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    
    height: 140px;
    margin: 0px auto;
    width: 140px;
}

#timer-control span {
    background-position: center center;
    background-repeat: no-repeat;
    
    margin: 0px auto;
    display: inline-block;
    height: 64px;
    width: 64px;
}

#timer-control .play {
    background-image: url('../img/play.png');
}

#timer-control .pause {
    background-image: url('../img/pause.png');
}

#timer-control.play {
    padding-left: 10px;
}

/**
 * Rest color support
 */

.resting .pa-settings {
    background-color: #15B5D1;
}

.resting #timer-control {
    background-color: #68C4DB;
}

/**
 * Overlay about us
 */

@-webkit-keyframes show-about {
    from { -webkit-transform: translateY(100%); }
    to   { -webkit-transform: translateY(0%); }
}

@-webkit-keyframes hide-about {
    from { -webkit-transform: translateY(0%); }
    to   { -webkit-transform: translateY(100%); }
}

@keyframes show-about {
    from { transform: translateY(100%); }
    to   { transform: translateY(0%); }
}

@keyframes hide-about {
    from { transform: translateY(0%); }
    to   { transform: translateY(100%); }
}

.about {
    background-color: #4ABC84;
    
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 9001;
    
    padding: 10px 30px;
    padding-top: 5em;
}

.about .support {
    font-size: 15px;
    font-weight: bold;
}

.about .close {
    background-color: transparent;
    border: 0px;
    color: #fff;
    font-size: 18px;
    
    position: absolute;
    top: 10px;
    right: 30px;
    
    padding: 0.8em 0px;
}

.about p {
    font-size: 13px;
    line-height: 1.275em;
}

.about a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    text-decoration: none;
}

.about a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.about .subtitle {
    font-size: 14px; 
    line-height: 1.25em; 
    
    margin-bottom: 1.2em;
}

.about .credits {
    font-size: 13px; 
}

.about .we-need {
    font-size: 13px;
}

.about .donate {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.about .donate iframe {
    position: relative;
    left: -8px;
    
    margin-top: 1em;
}

.about.hidden {
    display: block;
    
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
}

.about-appear {
    animation: show-about 0.4s;
    -webkit-animation: show-about 0.4s;
}

.about-disappear {
    animation: hide-about 0.4s;
    -webkit-animation: hide-about 0.4s;
}

/**
 * Settings
 */

.pa-settings {
    background-color: #EE4E5E;
	box-shadow: 0 0 16px -1px rgba(0, 0, 0, 0.1);
    
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
 
    width: 32%;
    min-width: 380px;
    z-index: 8999;
    padding-top: 6em;
}

.pa-settings .minus,
.pa-settings .plus {
    font-size: 20px;
    font-weight: bold;
    
    display: inline-block;
    cursor: pointer;
}

.pa-settings ul {
    list-style: none;
    padding: 2em 40px 0;
	border-top: 1px solid rgba(255,255,255,.2);
}

.pa-settings ul li {
    line-height: 34px;
    margin-bottom: 1em;
}

.pa-settings .pa-control {
    line-height: 150%;
    float: right;
    
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.pa-settings-button .pa-control .fa {
    font-size: 14px;
}

.pa-settings .pa-cell {
    border: 1px solid rgba(255,255,255,.6);
    border-radius: 4px;
    text-align: right;
    
    display: inline-block;
    padding: 0.25em 0.5em;
    margin: 0px 0.5em;
    width: 80px;
}

.pa-settings .pa-control input {
    background-color: transparent;
    border: 0px;
    color: #fff;
    font-size: 14px;
    outline: none;
    text-align: right;
    
    width: 28px;
}

.pa-settings .pa-full-control input {
    width: 100%;
}

.pa-settings .separator {
    margin-top: 3em;
}

@-webkit-keyframes show-settings {
    from { -webkit-transform: translateX(100%); }
    to   { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes hide-settings {
    from { -webkit-transform: translateX(0%); }
    to   { -webkit-transform: translateX(100%); }
}

@keyframes show-settings {
    from { transform: translateX(100%); }
    to   { transform: translateX(0%); }
}

@keyframes hide-settings {
    from { transform: translateX(0%); }
    to   { transform: translateX(100%); }
}

.pa-settings.hidden {
    display: block;
    
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.pa-settings-appear {
    animation: show-settings 0.4s;
    -webkit-animation: show-settings 0.4s;
}

.pa-settings-disappear {
    animation: hide-settings 0.4s;
    -webkit-animation: hide-settings 0.4s;
}